<div class="table-container">
  <div class="table-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="table-content">{{ "Weekdays" | uppercase }}</div>
  </div>
  <table
    mat-table
    *ngIf="view"
    class="standard-table mat-elevation-z8"
    [dataSource]="view.standard_days"
  >
    <ng-container
      *ngFor="let column of columns1"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <div *ngIf="sd_edit != row" class="cell">{{ column.cell(row) }}</div>
        <form
          class="form"
          *ngIf="sd_edit == row"
          novalidate
          [formGroup]="standardForm"
        >
          <div *ngIf="column.columnDef == 'name'" class="cell">
            {{ column.cell(row) }}
          </div>
          <div
            *ngIf="
              column.columnDef == 'startTime' || column.columnDef == 'endTime'
            "
            class="cell-container"
          >
            <mat-error
              *ngIf="formErrors[column.columnDef]"
              style="color:orange;font-size:0.9em;"
            >
              {{ formErrors[column.columnDef] }}
            </mat-error>
            <mat-form-field appearance="outline" class="inputField">
              <input
                matInput
                [placeholder]="
                  column.columnDef == 'startTime' ? 'Start Time' : 'End Time'
                "
                aria-label="Editable dial"
                [ngxTimepicker]="editableDial"
                [formControlName]="column.columnDef"
                [value]="column.cell(row)"
                [format]="24"
                readonly
              />
            </mat-form-field>
            <ngx-material-timepicker
              #editableDial
              [enableKeyboardInput]="true"
            ></ngx-material-timepicker>
          </div>
        </form></td
    ></ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          style="background:orange;margin: 10px;"
          *ngIf="sd_edit != row"
          (click)="toggle(row)"
          class="inputField"
        >
          Edit
        </button>
        <div *ngIf="sd_edit == row" class="inputField" fxLayout="row">
          <button
            mat-raised-button
            style="background:orange;margin: 2px;"
            (click)="onSubmit(standardForm)"
            [disabled]="standardForm.invalid || !valid"
          >
            Submit
          </button>
          <button
            mat-raised-button
            style="background:lightgrey;margin: 2px;"
            (click)="clearEdit()"
          >
            Cancel
          </button>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class]="sd_edit == row ? 'row active' : 'row'"
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
    ></tr>
  </table>
</div>
